<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>{% block title %}{{ SITENAME }}{%endblock%}</title>

	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" />
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.min.css" />
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
<!--	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" />   
<script src="{{ SITEURL }}/theme/js/custom.modernizr.js"></script> -->
</head>

<body>

	<div id="not-footer">
		<!-- Nav Bar -->
		<div class="contain-to-grid">
			<nav>
			<div class="top-bar data-topbar">
				<div class="row">
					<!--
					<div class="large-9 large-centered columns">
						<h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
					</div>
					-->
					<ul class="title-area">
						<li class="name">
						<h1><a href="{{SITEURL}}">{{ SITENAME }}</a></h1>
						</li>
						<!--    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li> -->
					</ul>

					<section class="top-bar-section">
					<ul class="right">
						{% for title, link in MENUITEMS %}
						<li><a href="{{ link }}" class="">{{ title }}</a></li>
						{% endfor %}

						{% if DISPLAY_PAGES_ON_MENU %}
						{% for page in PAGES %}
						<li><a href="{{ SITEURL }}/{{ page.url }}" class="">{{ page.title }}</a></li>
						{% endfor %}
						{% endif %}
					</ul>
					</section>
				</div>
			</div>

			<!-- Show menu items and pages -->
			<ul class="button-group navigation">

			</ul>
			</nav>
		</div>
		<!-- End Nav -->


		<!-- Main Page Content and Sidebar -->
		<div class="row">

			<!-- Main Blog Content -->
			<div class="large-9 columns">
				{% block content %}{% endblock %}
			</div>
			<!-- End Main Content -->

			<!-- Sidebar -->
			<aside class="large-3 columns">
			<h5 class="sidebar-title">Site</h5>
			<ul class="side-nav">
				<li><a href="{{ SITEURL }}/archives.html">Archives</a>
				<li><a href="{{ SITEURL }}/tags.html">Tags</a>
				{% if FEED_RSS %}
				<li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" rel="alternate">Atom feed</a></li>
				{% endif %}
				{% if FEED_RSS %}
				<li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="alternate">RSS feed</a></li>
				{% endif %}
			</ul>

			{% if categories %}     
			<h5 class="sidebar-title">Categories</h5>
			<ul class="side-nav">
				{% for cat, null in categories %}
				<li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
				{% endfor %}   
			</ul>
			{% endif %}

			{% if LINKS %}
			<h5 class="sidebar-title">Links</h5>
			<ul class="side-nav">
				{% for name, link in LINKS %}
				<li><a href="{{ link }}">{{ name }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}

			{% if SOCIAL %}
			<h5 class="sidebar-title">Social</h5>
			<ul class="side-nav">
				{% for name, link in SOCIAL %}
				<li><a href="{{ link }}">{{ name }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}

			</aside> <!-- End Sidebar -->

		</div> <!-- End Main Content and Sidebar -->
	</div>


	<!-- Footer -->
	<footer>
	<div class="row">
		<div class="small-12 medium-8 large-8 columns">
			notoriouscw.com
			<p class="copyright">&copy; 2014 Chris Wallace (notori0us) CC-BY-NC-SA</p>
		</div>
		<div class="small-12 medium-4 large-4 columns">
			<p class="pelican-note">Generated with love from
			<a href="http://docs.getpelican.com/en/">Pelican</a></p>
		</div>
	</div>
	</footer>

</body>
